<%- include("includes/header")%>

    <h2>Virheellinen tiedostomuoto. Käytä ainoastaan json-tiedostoja.</h2>

    <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Palaa alkuun</a>

<%- include("includes/footer")%>